.appTitle{
    font-size: 10vw;
    margin-top: 20%;
}
.appSubTitle{
  font-size: 6vw;
}
.loginButton{
  width: 85%;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 50%;
  font-size: 4vw;
  font-weight: lighter;
}
.registerText{
  margin-top: 10%;
}
.authForm{
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 20%;
}