<ion-content [fullscreen]="true">
  <!-- Titulo de la App -->
  <h1 class="ion-text-center appTitle">LiveApp</h1>
  <h3 class="ion-text-center appSubTitle">¿Funcionara?</h3>
  <!-- Titulo de la App -->
  <!-- Boton para navegar -->
  <ion-button class="ion-text-center loginButton ion-text-capitalize" color="dark" (click)="goToLogin()">Iniciar sesión</ion-button>
  <!-- Boton para navegar -->
  <!-- Texto para navegaro -->
  <h5 class="ion-text-center registerText" (click)="goToRegister()">¿No tienes cuenta? regístrate</h5>
  <!-- Texto para navegaro -->
</ion-content>
